body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8f2;
    color: #333
}

header{
    text-align: center;
    padding: 40px 20px 20px;
    background-color: 007acc ;
    color: black;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

.proyecto{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.proyecto img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.proyecto h2{
    margin-top: 0;
    color : #007acc;
}

.proyecto a{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007acc;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.proyecto a:hover{
    background-color: #005f99;
}
